/* цвет основного фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */

/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */

/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
    --primary-white-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --bg-color: #2F303A;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* сброс стилей */
.list {
    list-style: none;
}

.link {
    text-decoration-line: none;    
}

.hidden {
    visibility: hidden;
}

.background {
    background-color: var(--secondary-bg-color);
}

/* шапка сайта */

/* логотип */
.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
  
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;    
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.web-color {
    color: var(--accent-color);
}

/* навигация */
.nav-link {
    color: var(--title-text-color);
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--accent-color);
}

.nav .nav-link.current {
    color: var(--accent-color);
}

.auth-link {
    color: var(--primary-text-color);
}

.auth-link:hover, 
.auth-link:focus {
    color: var(--accent-color);
}

/* hero */
.hero-title {
    color: var(--title-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* section */
.section .section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;      
}

/* 2nd section Features of work */
.features .title {
    color: var(--title-text-color);

    font-weight: 700;    
    line-height: 1.14;    
    text-transform: uppercase;
}

.features .features-img:hover {
    background-color: var(--accent-color);
}

/* 3d section What are we doing */
.scope .title {
    background-color: var(--bg-color);
    color: var(--primary-white-color);

    font-weight: 700;    
    line-height: 1.14;    
    text-transform: uppercase;
}

/* 4d section Our team */
.team .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team .profession {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team .social-link {
    color: var(--primary-text-color);

    text-decoration-line: none;    
}

.team .social-link:hover, 
.team .social-link:focus {
    color: var(--accent-color);
}

/* 5d section Clients */
/* НЕ РАБОТАЕТ ХОВЕР */
.clients .client-logo:hover {
    color: var(--accent-color);
}

/* button*/
.button {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

   
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    /* align-items: center; */
    text-align: center;
    letter-spacing: 0.06em;

    /* font-style: inherit; */
    text-decoration: none;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.button.secondary {
    background-color: var(--primary-white-color);
    color: var(--accent-color);
}

/* footer */

footer {
    background-color: #2F303A;
}

.logo-style .logo {
    color: var(--primary-white-color);
}

address {
    color: var(--primary-white-color);
}

address > a {
    color: rgba(255, 255, 255, 0.6);
}

.action {
    color: var(--primary-white-color);

    font-weight: 700;    
    line-height: 1.14;    
    text-transform: uppercase;
}

.action-link a {
    color: var(--primary-white-color);
}

.action-link a:hover,
.action-link a:focus {
    color: var(--accent-color);
}

/* старница Портфолио */

/* секция Наши работы */
.work .work-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work .work-type {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.8;
}

.work .work-text {
    color: var(--primary-text-color);
    
    font-size: 18px;
    line-height: 1.6;
}